* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100%;
  background-image: url(component/card-menu/img/battle.jpg);
  background-attachment: fixed;
  background-size: cover;

}
